/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
/**********************************/

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/****================================> media & container <================================*/
/* mobile devices */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium devices */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large devices */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

html {
  scroll-behavior: smooth;
}

/* end global rules */
/* start variable */
:root {
  --main-color: #1A6D9A;
  --secondary-color: #3dd0ba;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

/* end variable */
/****================================> Component <================================****/
/* start component */

/* end component */
body {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 118px;
  gap: 30px;
}

/* start first header */
.first-header {
  background-color: var(--main-color);
}

.first-header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.first-header .contact-info {
  gap: 64px;
}

.first-header .contact-info li {
  font-size: 13.5px;
  line-height: 16.34px;
  text-align: left;
}


.first-header .social-media {
  gap: 28px;
}

.first-header .social-media li i {
  font-size: 24px;
  color: white;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #3DD0BA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-header .langage {
  gap: 10px;
}

.first-header .langage li {
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.first-header .sign-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* end first header */
/* start second header */
.second-header {
  color: black;
}

.second-header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-header .logo img {
  height: 98px;
}

.second-header .logo p {
  color: var(--main-color);
}

.second-header .navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--main-color);
  font-weight: 700;
}
.second-header .navigation::before{
  content: "";
  position: absolute;
  background-color: gray;
  width: 1px;
  height: 81px;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}
.second-header .navigation li {}

.second-header .navigation li i {}

.second-header .phone-number {
  position: relative;
  color: var(--main-color);
}
.second-header .phone-number::before{
  content: "";
  position: absolute;
  background-color: gray;
  width: 1px;
  height: 81px;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}
.second-header .appointment-btn {
  padding: 15px 40px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
}

.second-header .appointment-btn i {}

/* end second header */
/* start first footer */
footer {
  background-color: black;
}

/* end first footer */